
(
    name: "items.testing.flower",
    schematics: {
        "server::items::components::Item": (
            name: "Flower",
            short_name: "delicate flower",
            description: "An indigo blossom radiant with gradient hues, its golden heart shimmering amidst delicate petals.",
            tags: ["flower", "delicate"],
            size: Small,
            visible: true,
        ),
        "server::items::components::CanTake": (),
        "server::items::components::CanPlace": (),
    }
)
