(
    name: "items.testing.vase",
    schematics: {
        "server::items::components::Item": (
            name: "Eternal Vase",
            short_name: "intricate vase",
            description: "Adorned with meticulous hieroglyphs and divine symbols, the slender flower vase embodies an ethereal beauty, its azure and gold hues reflecting the intricate handiwork of an unseen, yet gifted artisan.",
            size: Small,
            tags: ["vase", "flower vase"],
            visible: false,
        ),
        "server::items::components::Surface": (
            kind: Interior,
            capacity: 3,
        ),
    }
)
