(
    name: "enemies.racoon",
    schematics: {
        "server::npc::bundles::NpcBundle": (
            npc: (
                skills: ["blade-flourish"],
            ),
            depiction: (
                name: "Racoon",
                short_name: "racoon",
                description: "Its matted grey coat shimmers with an otherworldly gloom, the patches of darkness seeming to absorb light rather than reflect it. Stark black masks its eyes, the gaze within a disturbing yellow that seems to hold an ancient, malignant wisdom. Its paws, worn and rugged, move with an uncanny rhythm, each twitch a dissonant note in nature's symphony.",
                tags: ["racoon", "trash", "creature", "animal", "abomination"],
                visible: true,
            ),
        ),
        "server::combat::bundles::CombatBundle": (
            stats: (
                level: 1,
                vitality: 50,
                proficiency: 3,
                speed: 3,
                strength: 10,
                dexterity: 0,
                intelligence: 0,
                health: 0,
                potential: 0,
                potential_regen: 0,
                armor: 0,
                dominance: 3,
            ),
        ),
        "server::interact::components::Interactions": ([Attack]),
    },
)
