(
  name: "world.testing.movement",
  schematics: {
    "server::spatial::components::Zone": (
      name: "Movement",
    ),
  },
  children: [
    (
      value: Inline((
        name: "world.testing.movement.0.0.0",
        schematics: {
          "server::spatial::components::Spawn": (),
          "server::spatial::bundles::TileBundle": (
            position: (IVec3 ( x: 0, y: 0, z: 0 )),
            tile: (
              name: "A testing room",
              description: "This looks like a good place to test movement.",
            ),
            sprite: (
              character: "|",
            ),
          ),
        }
      )),
    ),
    (
      value: Inline((
        name: "world.testing.movement.0.1.0",
        schematics: {
          "server::spatial::bundles::TileBundle": (
            position: (IVec3 ( x: 0, y: 1, z: 0 )),
            tile: (
              name: "South of the testing room",
              description: "This is still a good place to test movement.",
            ),
            sprite: (
              character: ">",
            ),
          ),
        }
      )),
    ),
    (
      value: Inline((
        name: "world.testing.movement.0.1.-1",
        schematics: {
          "server::spatial::bundles::TileBundle": (
            position: (IVec3 ( x: 0, y: 1, z: -1 )),
            tile: (
              name: "The bottom of a stairwell",
              description: "I wonder what's down here.",
            ),
            sprite: (
              character: "<",
            ),
          ),
        }
      )),
    ),
    (
      value: Inline((
        name: "world.testing.movement.0.2.-1",
        schematics: {
          "server::spatial::bundles::TileBundle": (
            position: (IVec3 ( x: 0, y: 2, z: -1 )),
            tile: (
              name: "Under the testing room",
              description: "It's a dark and scary place down here.",
            ),
            sprite: (
              character: "=",
            ),
          ),
        },
        children: [
           (
             value: Inline((
                name: "world.testing.movement.0.2.-1.transition",
                schematics: {
                "server::spatial::components::Transition": (
                  tags: ["void"],
                  zone: "The Void",
                  position: IVec3 ( x: 0, y: 0, z: 0 ),
                )
              }
            ))
          )
        ] 
      )),
    ),
  ]
)
