
(
  name: "world-void",
  children: [
    (
      value: Inline((
        name: "void",
        schematics: {
          "server::spatial::components::Position": (
            zone: Void,
            coords: IVec3 ( x: 0, y: 0, z: 0 ),
          ),
          "server::spatial::components::Tile": (
            name: "The Void",
            description: "A vast, empty void.",
          ),
          "server::visual::components::Sprite": (
            character: "x",
          ),
        }
      )),
    ),
  ]
)
